<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1> Create a Basketball Team!</h1>
   <form method="POST" action="/newteam">
     <label for="POST-name">Team Name:</label>
     <input id="POST-team_name" type="text" name="name">
     <br/><br/>
     <label for="POST-coach">Coach:</label>
     <input id="POST-coach" type="text" name="coach">
     <br/><br/>
     <label for="POST-point_guard">Point Guard:</label>
     <input id="POST-point_guard" type="text" name="pg">
     <br/><br/>
     <label for="POST-shooting_guard">Shooting Guard:</label>
     <input id="POST-shooting_guard" type="text" name="sg">
     <br/><br/>
     <label for="POST-small_forward">Small Forward:</label>
     <input id="POST-small_forward" type="text" name="sf">
     <br/><br/>
     <label for="POST-power_forward">Power Forward:</label>
     <input id="POST-power_forward" type="text" name="pf">
     <br/><br/>
     <label for="POST-center">Center:</label>
     <input id="POST-center" type="text" name="c">
     <br/><br/>
     <button type="submit" value="Submit">Submit</button>
   </form>
 </body>
</html>
