<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
	<form action="/team" method="post">
		<input type="text" name="name" placeholder="team name"><br>
		<input type="text" name="coach" placeholder="coach"><br>
		<input type="text" name="pg" placeholder="point guard"><br>
		<input type="text" name="sg" placeholder="shooting guard"><br>
		<input type="text" name="pf" placeholder="power forwatrd"><br>
		<input type="text" name="sf" placeholder="small forward"><br>
		<input type="text" name="c" placeholder="center"><br>
		<input type="submit" id="Submit">
	</form>
 </body>
</html>
